<div class="main mb-5 p-5">
  <div class="row">

    {{#each blogs}}
    <div class="col-3">
      <div class="card">
        <img class="card-img-top read-blog-img img-fluid" src="{{this.url}}" alt="Title" />
        <div class="card-body">
          <h4 class="card-title fw-bold">{{this.title}}</h4>
          <p class="card-text">{{this.excerpt}}</p>
          <div class="readMoreBtn text-end">
            <a href="/blogs/{{this.id}}" class="btn btn-sm btn-outline-primary">{{#if is_premium}}<i class="fa-solid fa-star text-warning"></i>{{/if}} Read More</a>
          </div>
        </div>
      </div>
    </div>
    {{/each}}

  </div>
</div>